.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #ddd4d4;
    padding: 10px;
    margin-right: 10px;;
    
  }
  .nav ul li {
    margin-right: 20px;
  }
  .nav a {
    padding-right: 20px;
  }
  .nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:   #ddd4d4;
    padding: 5px;
  }
  .show-nav2 {
    display: block;
  }
  .site-title {
    font-size: 24px;
    font-weight: bold;
    color: #686060;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    background-color: lightskyblue;
    color: white;
  }

  .container {
    margin: 1rem;
    text-align: center;
  }