*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row-reverse;
}
main{
    width:100%;
    padding:20px;
    
}

.Sidebar{
    background-color: rgb(160, 155, 155);
    color: black;
    height: flex;
    width:500px;
    
}
.top_section{
    display: flex;
    align-items: center;
    padding:20px 15px;

}

.logo{
    font-size: 25px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;

}

.link{
    display: flex;
    color: black;
    padding: 10px 15px;
    gap:15px;
    transition: all 0.5s;
}
.link:hover{
    background-color: lightskyblue;
    color: black;
    transition: all 0.5s;

}

.active{
    background: lightskyblue;
    color: black;

}

.icon,.link_text{
    font-size: 20px ;
}


input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
 
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
 
  .submitButton {
    background-color: #6976d9;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
  }

.Paper{
  display: flex;
  height: 750px;
  width: 500px;
  position: absolute;
  left: 26%;
  overflow: scroll;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: black;
  
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20%;
}
.Paper h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}



.button-88-red {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(235, 53, 21) 0%, rgb(202, 111, 88) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #ff280298;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88-red:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #d81a1a98;
  }
  
  .button-88-red:active {
    box-shadow: 0 0.3em 1em -0.5em #f30f0798;
  }



/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .checkbox-container input[type="checkbox"] {
    flex: 1;
  }
  
  .checkbox-container textarea {
    flex: 15;
  }

  .form-button{
    display: flex;
    gap: 400px;
  }
