.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0px;
}
.App {
  font-family: sans-serif;
  color: green;
  font-size: 16px;
}
  
span {
  color: red;
  font-size: 18px;
  font-weight: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header {
  padding: 20px;
  text-align: center;
  background: #8CCFC3;
  font-size: 40px;
  font-family: 'Roboto', sans-serif; /* change font family to desired font */
  text-shadow: 1px 1px 0px #000000,
               1px 2px 0px #382f2f,
               1px 3px 0px #020202,
               1px 4px 0px #108bdd,
               1px 5px 0px #108bdd,
               1px 6px 0px #000000,
               1px 10px 5px rgba(0, 0, 0, 0.5),
               1px 15px 10px rgba(0, 0, 0, 0.4),
               1px 20px 30px rgba(0, 0, 0, 0.3),
               1px 25px 50px rgba(0, 0, 0, 0.2);
}
